<div class="container">
    <div class="quote from-left">
        <mat-icon>format_quote</mat-icon>
        <span>All-round Software Engineer with a background in <strong>Artificial Intelligence</strong>.
            Started as professional game developer in 2007. <strong>Games</strong> became <strong>mobile apps</strong>. Over time, this evolved into building complex cross-platform <strong>web applications</strong>.</span>
    </div>
    <div class="icons">
        <!-- <mat-icon>terminal</mat-icon> -->
        <!-- <mat-icon>language</mat-icon> -->
        <mat-icon outlined>cloud</mat-icon>
        <mat-icon outlined>devices</mat-icon>
        <!-- <mat-icon outlined>phone_iphone</mat-icon> -->
        <!-- <mat-icon>laptop_mac</mat-icon> -->
        <mat-icon>sports_esports</mat-icon>
        <!-- <mat-icon>data_object</mat-icon> -->
    </div>
    <!-- Artificial Intelligence | Software Architecture | Web Technology | Mobile Development | Game Development -->
    <div class="quote from-right">
        <mat-icon>format_quote</mat-icon>
        <span>Available for <strong>full-stack</strong>, <strong>front-end</strong> and <strong>back-end</strong> opportunities. Comfortable in the hands-on <strong>architect</strong> role. Familiar with a wide variety of platforms, programming languages and technologies. Specialised in <strong>C# .NET</strong> and <strong>Angular Typescript</strong>, but not attached to a single language or framework.</span>
    </div>
    <div class="icons">
        <!-- <mat-icon>terminal</mat-icon> -->
        <mat-icon>data_object</mat-icon>
    </div>
    <div class="quote from-left">
        <mat-icon>format_quote</mat-icon>
        <span>I'm a <strong>domotics</strong> enthousiast, <strong>cycling</strong> addict and father of three. Published some <strong>open source</strong> projects to help the community.</span>
    </div>
</div>