@import 'variables';

.container {   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    padding: 20px;

    .icons {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        margin-top: 60px;

        gap: 30px;

        mat-icon {
            font-size: 80px;
            width: 80px;
            height: 80px;
        }
    }
    .quote {
        margin-top: 30px;
        width: 100%;
        max-width: 650px;
        text-align: center;
        font-size: 1.3rem;
        font-weight: 100;
        line-height: 1.7rem;

        mat-icon {
            // display: none;
            // color: #c2185b;
            font-size: 80px;
            width: 80px;
            height: 80px;
        }

        strong {
            color: $accent;
            font-weight: normal;
        }
    }
}