@import 'variables';
@import 'mixins';

.content {
    position: absolute;
    color: $text-secondary;
    height: 100%;
    width: 100%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;

    .container {
        display: flex;
        align-items: center;
        flex-grow: 1;
        flex-flow: column nowrap;
        justify-content: space-evenly;

        .contact {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            gap: 20px;

            .avatar {
                border-radius: 100%;
                overflow: hidden;
                width: 0px;
                height: 0px;
                display: flex;
                align-items: center;
                justify-content: center;

                transition: border-radius 0.5s, box-shadow 0.5s, transform 0.5s;
                &:hover {
                    border-radius: 7px;
                    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
                    transform: scale(1.1) !important;
                }

                opacity: .9;

                >img {
                    width: 165px;
                    height: 165px;
                }
            }

            .info {
                min-height: 175px;
                width: 100%;

                .name {
                    background: $background-dark;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    padding: 13px 0 5px 0;
                    overflow: hidden;
                    width: 405px;
                    color: $text-light;
                    margin: 0 auto;
                    max-width: 100vw;

                    .firstname,
                    .middlename,
                    .sirname {
                        font-family: "Courier New", Courier, monospace;
                        line-height: 43px;
                        font-weight: 200;
                        font-size: 50px;
                        margin: 0;
                        padding: 0;
                    }

                    .middlename {
                        font-size: 28px;
                        margin: 0 5px 0 3px;
                    }

                    border-radius: 7px;
                }

                .typed {

                    margin: 20px 0 0 15px;
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                    opacity: 0;

                    .headline {
                        display: block;
                        font-size: 27px;
                        line-height: 28px;
                        font-weight: normal;    
                    }

                    .location {
                        display: block;
                        color: $text-tertairy;
                        font-size: 27px;
                        font-weight: 300;
                    }
                }
            }
        }

        .next-section {
            color: $text-tertairy;
            font-size: 38px;
            font-weight: 100;
            text-align: center;
            
            transition: opacity .2s ease-in;
            &.hidden {
                opacity: 0;
            }

            &.visible {
                .icon {
                    @include fadeIn(0.5s, 0, 0.4, 3.5s);
                    
                    display: block;
                    transform: scale(3);
                    margin: 0 auto;
                }
            
                animation: yo-yo 2s ease-out 4s infinite alternate;
                @include yoyo;
            }
        }
    }
}

@media screen and (max-width: $mobile-width) {
    .container {
        padding: 5px;
    }
}

@media screen and (max-width: 400px) {

    .firstname,
    .middlename,
    .sirname {
        font-size: 28px !important;
    }

    .typed {
        margin-left: 20px !important;

        .headline,
        .location {
            font-size: 24px !important;
        }
    }
}

@media screen and (max-height: 650px) {
    .next-section {
        display: none;
    }
}