@import 'variables';
@import 'mixins';

.background {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: -1;
}

#progress {
    position: fixed;
    z-index: 9999;
    height: 3px;
    background-color: $accent;

    opacity: 0;
    transition: opacity .5s ease-in-out;

    &.scrolling {
        opacity: 1;
    }
}

#main-menu {
    position: absolute;
    z-index: 99;
    top: 0px;
    left: 0px;
    right: 0px;
}

.content {
    width: 100%;
}

#home {
    background: none;
    display: block;
}
