<app-background class="background"></app-background>
<div id="progress" [class.scrolling]="isScrolling$ | async" [style.width.%]="scrollPercentage$ | async"></div>
<app-menu id="main-menu" class="menu" (click)="navigateTo($event, true)" [background]="menuBackground"
    [selectedLanguage]="language" (lang)="setLanguage($event)"></app-menu>
<main class="content">

    <app-section name="home" class="app-section" [fullPage]="true" [heightSource]="'window'"
        (shown)="onShow(['home','background'])" (hidden)="onHide(['home', 'background'])" (snap)="onSnap('home')">
        <app-home [profile]="profile" (next)="navigateTo('about')"></app-home>
    </app-section>

    <app-section name="about" class="app-section" background="black" [fullPage]="true"
        [title]="'about.title' | translate" titleStyle="dark" (shown)="onShow('about')" (hidden)="onHide('about')"
        (snap)="onSnap('about')">
        <app-about></app-about>
    </app-section>

    <app-section name="services" class="app-section" background="white" [fullPage]="true"
        [title]="'services.title' | translate" titleStyle="light" (shown)="onShow('services')" (hidden)="onHide('services')"
        (snap)="onSnap('services')">
        <app-services></app-services>
    </app-section>

    <app-section name="experience" class="app-section" [fullPage]="true" [title]="'experience.title' | translate"
        [background]="'rgba(0, 0, 0, 0.864)'" (shown)="onShow(['background', 'experience'])"
        (hidden)="onHide(['background', 'experience'])" (snap)="onSnap('experience')">
        <app-experience [minOpacity]="1" [experience]="profile?.experience || []" [hiddenTags]="hiddenSkillTags"
            [proficiency]="70" [exclude]="excludeExperience">
        </app-experience>
    </app-section>

    <app-section name="skills" class="app-section" [fullPage]="true" [title]="'skills.title' | translate" [background]="'black'"
        titleStyle="dark" (shown)="onShow('skills')" (hidden)="onHide('skills')" (snap)="onSnap('skills')">
        <app-skills id="skills" [experience]="profile?.experience || []" [selectedTags]="selectedSkillTags"
            [scrollwheel]="false" [hiddenTags]="hiddenSkillTags">
        </app-skills>
    </app-section>

    <app-section name="projects" class="app-section" [fullPage]="true" [title]="'projects.title' | translate"
        titleStyle="light" (snap)="onSnap('projects')">
        <app-projects [experience]="profile?.experience"></app-projects>
    </app-section>

    <app-section name="personality" class="app-section" [background]="'black'" [title]="'personality.title' | translate"
        titleStyle="dark" [snap]="true" [snapDown]="0" (snap)="onSnap('personality')">
        <app-characteristics></app-characteristics>
    </app-section>

    <app-section name="contact" class="app-section" [background]="'rgb(20, 20, 20)'" [fullPage]="false"
        [snap]="isMobile" [title]="'contact.title' | translate" (snap)="onSnap('contact')" [snapDown]="0">
        <app-contact></app-contact>
    </app-section>

</main>
<app-footer id="footer"></app-footer>
