@import 'variables';

.background {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: -1;
}
#main-menu {
    position: absolute;
    z-index: 99;
    top: 10px;
    left: 10px;
    right: 10px;
    opacity: 0;
}
.content {
    width: 100%;
}

#home {
    background: none;
    display: block;
} 

.section-title {
    text-align: center;
    padding: 25px 0 20px 0;
    text-transform: uppercase;
    font-size: xx-large;
    margin: 0;
    font-weight: lighter;

    &.transparent {
        color: $accent;
    }
    &.accent {
        background: $accent;
    }
    &.light {
        color: $accent;
        background: white;
    }
    &.dark {
        background: black;
    }
}

.next-section {
    position: absolute;
    bottom: 80px;
    color: $text-tertairy;
    font-size: 38px;
    font-weight: 100;
    opacity: 0;
    width: 100%;
    text-align: center;

    .icon {
        display: block;
        transform: scale(2);
        margin: 0 auto;
    }
}

@media screen and (max-width: $mobile-width) {
    .next-section {
        bottom: 200px;
    }
}

@media screen and (max-height: 650px) {
    .next-section {
        display: none;
    }
}