<app-background class="background"></app-background>
<app-menu id="main-menu" class="menu"></app-menu>
<main class="content">
    
    <app-section id="home" class="app-section" [fullPage]="true" [title]="'Home'" (shown)="onShow('background')" (hidden)="onHide('background')">
        <app-home [profile]="profile"></app-home>
        <button class="next-section" (click)="navigateTo('about')" mat-stroked-button>
            <mat-icon class="icon" fontIcon="keyboard_double_arrow_down">keyboard_double_arrow_down</mat-icon>
        </button>
    </app-section>

    <h1 class="section-title dark">About</h1>
    <app-section id="about" class="app-section" background="black" [fullPage]="true" [title]="'About'"
        (next)="navigateTo('experience')" (shown)="onShow('about')" (hidden)="onHide('about')">
        <app-about></app-about>
    </app-section>
    
    <h1 class="section-title" [style.background]="'rgba(0, 0, 0, 0.864)'">Experience</h1>
    <app-section id="experience" class="app-section" [fullPage]="true" [title]="'Experience'" [background]="'rgba(0, 0, 0, 0.864)'"
        (next)="navigateTo('skills')" (shown)="onShow(['background', 'experience'])" (hidden)="onHide('background')">
        <app-experience [minOpacity]="1" [experience]="profile.experience || []" [hiddenTags]="hiddenSkillTags" [proficiency]="70"
            [exclude]="excludeExperience"></app-experience>
    </app-section>

    <h1 class="section-title dark">Skills</h1>
    <app-section id="skills" class="app-section" [fullPage]="true" [title]="'Skills'" (shown)="onShow('skills')"
        (hidden)="onHide('skills')">
        <app-skills id="skills" [experience]="profile.experience || []" [selectedTags]="selectedSkillTags"
            [scrollwheel]="false" [hiddenTags]="hiddenSkillTags"></app-skills>
    </app-section>

    <h1 class="section-title light">Projects</h1>
    <app-section id="projects" class="app-section" [fullPage]="true" [title]="'Projects'">
        <app-projects [experience]="profile.experience"></app-projects>
    </app-section>

    <h1 class="section-title dark">Personality</h1>
    <app-section id="personality" class="app-section" [background]="'black'" [fullPage]="false" [title]="'Personality'" [snap]="true" [snapDown]="0">
        <app-charasteristics></app-charasteristics>
    </app-section>

    <!-- Contact navigation placeholder -->
    <div id="contact"></div>
</main>
<!-- <div>
    <app-footer id="footer"></app-footer>
</div> -->