  .content {
      background: white;
      color: #5f6c72;
      height: 100%;
      width: 100%;

      display: flex;
      flex-direction: column;
      align-items: center;

      .container {
          display: flex;
          align-items: center;
          height: 100%;
          flex-grow: 1;

          .contact {
              display: flex;
              flex-direction: column;
              align-items: center;
              width: 100%;
              gap: 20px;

              .avatar {
                  border-radius: 100%;
                  overflow: hidden;
                  width: 0px;
                  height: 0px;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  // width: 150px;
                  // height: 150px;
                  
                  opacity: .9;

                  >img {
                      width: 165px;
                      height: 165px;
                  }
              }

              .info {
                  min-height: 175px;
                  width: 100%;
                  .name {
                      background: black;
                      padding: 13px 0 5px 0;
                      overflow: hidden;
                      width: 405px;
                      color: white;
                      text-align: center;

                      .firstname,
                      .middlename,
                      .sirname {
                          font-family: "Courier New", Courier, monospace;
                          line-height: 43px;
                          font-weight: 200;
                          font-size: 50px;
                          margin: 0;
                          padding: 0;
                      }

                      .middlename {
                          font-size: 28px;
                          margin: 0 5px 0 3px;
                      }
                  }

                  .typed {

                      margin: 20px 0 0 15px;
                      display: flex;
                      flex-direction: column;
                      gap: 20px;

                      .headline {
                          display: block;
                          font-size: 28px;
                          font-weight: normal;
                      }

                      .location {
                          display: block;
                          color: #b4babd;
                          font-size: 28px;
                      }
                  }
              }
          }
      }
  }

  @media screen and (max-width: 900px) {
      .container {
          padding: 5px;
      }
  }