@import 'variables';

.content {
    position: absolute;
    color: $text-secondary;
    height: 100%;
    width: 100%;
    min-height: 430px;

    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;

    .container {
        display: flex;
        align-items: center;
        height: 100%;
        flex-grow: 1;

        .contact {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            gap: 20px;

            .avatar {
                border-radius: 100%;
                overflow: hidden;
                width: 0px;
                height: 0px;
                display: flex;
                align-items: center;
                justify-content: center;

                transition: border-radius 0.5s, box-shadow 0.5s, transform 0.5s;
                &:hover {
                    border-radius: 7px;
                    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
                    transform: scale(1.1) !important;
                }

                opacity: .9;

                >img {
                    width: 165px;
                    height: 165px;
                }
            }

            .info {
                min-height: 175px;
                width: 100%;

                .name {
                    background: $background-dark;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    padding: 13px 0 5px 0;
                    overflow: hidden;
                    width: 405px;
                    color: $text-light;
                    margin: 0 auto;

                    .firstname,
                    .middlename,
                    .sirname {
                        font-family: "Courier New", Courier, monospace;
                        line-height: 43px;
                        font-weight: 200;
                        font-size: 50px;
                        margin: 0;
                        padding: 0;
                    }

                    .middlename {
                        font-size: 28px;
                        margin: 0 5px 0 3px;
                    }

                    border-radius: 7px;
                    // transition: border-radius 0.5s, box-shadow 0.5s, transform 0.5s;
                    // &:hover {
                    //     border-radius: 7px;
                    //     box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
                    //     transform: scale(1.1) !important;
                    // }
                }

                .typed {

                    margin: 20px 0 0 15px;
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                    opacity: 0;

                    .headline {
                        display: block;
                        font-size: 28px;
                        font-weight: normal;
                    }

                    .location {
                        display: block;
                        color: $text-tertairy;
                        font-size: 28px;
                        font-weight: 300;
                    }
                }
            }
        }
    }
}

#home-footer {
    opacity: 0;
    width: 100%;
}

@media screen and (max-width: $mobile-width) {
    .container {
        padding: 5px;
    }
}

@media screen and (max-width: 400px) {

    .firstname,
    .middlename,
    .sirname {
        font-size: 28px !important;
    }

    .typed {
        margin-left: 20px !important;

        .headline,
        .location {
            font-size: 24px !important;
        }
    }
}