<div class="content">
    <div class="container">
        <section class="contact">
            <div class="avatar">
                <img src="assets/images/avatar.jpg" alt="avatar" title="Harrie de Groot" />
            </div>
            <div class="info">
                <div class="name">
                    <span>
                        <span class="firstname">Harrie</span>
                        <span class="middlename">de</span>
                        <span class="sirname">Groot</span>
                    </span>
                </div>
                <div class="typed">
                    <span *ngIf="!headlineCursor" class="headline">{{headline[headline.length-1]}}</span>
                    <ngx-typed-js *ngIf="headlineCursor" class="headline" [strings]="headline" [typeSpeed]="25" [backSpeed]="15"
                        [startDelay]="2500" [backDelay]="1000" [showCursor]="true" [loop]="false">
                        <span class="typing"></span>
                    </ngx-typed-js>
    
                    <ngx-typed-js class="location" [strings]="location" [typeSpeed]="35" [backSpeed]="25"
                        [startDelay]="3000" [showCursor]="false" [fadeOut]="true" [showCursor]="locationCursor">
                        <span class="typing"></span>
                    </ngx-typed-js>
                </div>
            </div>
        </section>
    </div>
    <app-footer id="home-footer" [wrap]="true"></app-footer>
</div>