<div class="container">
    <div class="charasteristics">
        <div class="charasteristic">
            <h2 translate>personality.analytical</h2>
            <mat-icon>psychology</mat-icon>
            <div [innerHtml]="'personality.analytical_text' | translate | markdown"></div>
        </div>
        <div class="charasteristic">
            <h2 translate>personality.generalist</h2>
            <mat-icon>filter_list</mat-icon>
            <div [innerHtml]="'personality.generalist_text' | translate | markdown"></div>
        </div>
        <div class="charasteristic">
            <h2 translate>personality.organised</h2>
            <mat-icon>done</mat-icon>
            <div [innerHtml]="'personality.organised_text' | translate | markdown"></div>
        </div>
        <div class="charasteristic">
            <h2 translate>personality.responsible</h2>
            <mat-icon>person</mat-icon>
            <div [innerHtml]="'personality.responsible_text' | translate | markdown"></div>
        </div>
        <div class="charasteristic">
            <h2 translate>personality.studious</h2>
            <mat-icon>menu_book</mat-icon>
            <div [innerHtml]="'personality.studious_text' | translate | markdown"></div>
        </div>
        
        <div class="charasteristic">
            <h2 translate>personality.critical</h2>
            <mat-icon>thumb_up</mat-icon>
            <div [innerHtml]="'personality.critical_text' | translate | markdown"></div>
        </div>
    </div>

    <div class="quote-container">
        <div class="quote" visible [once]="true">
            <mat-icon>format_quote</mat-icon>
            <span [innerHtml]="'personality.quote' | translate | markdown"></span>
        </div>
    </div>
    <app-footer [wrap]="false" [category]="'footer'"></app-footer>
</div>