@import 'variables';
@import 'mixins';

:host {
    display: block;
    background: $background-dark;
    color: $text-light;
}

.container {
    min-height: calc(100vh - $title-height);
    height: calc(100% - $title-height);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    .charasteristics {
        display: flex;
        flex-flow: row wrap;
        align-content: space-around;
        //gap: 30px;
        height: 100%;
        flex-grow: 1;

        .charasteristic {
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            flex: 1 0 25%;
            gap: 20px;
            font-weight: 200;
            padding: 30px;
            min-width: 300px;
            
            // border: 1px solid $text;
            border-radius: 10px;
            
            mat-icon {
                font-size: 80px;
                width: 80px;
                height: 80px;
                //color: $accent;
                //color: black;
                
                padding: 20px;
                border: 1px solid white;
                border: 1px solid $accent;
                border-radius: 100%;
            }
    
            h2 {
                //color: $accent;
                font-size: 1.8rem;
                text-transform: uppercase;
                font-weight: 100;
                margin: 0;
                padding: 0;
            }
        }
    }

    .quote-container {
        background-color: $secondary;  
        padding: 0 25px 0 15px;  
    }

    .quote {
        padding: 0 0 40px 0;
        width: 100%;
        text-align: center;
        font-size: 1.5rem;
        font-style: italic;
        font-weight: 100;
        line-height: 2rem;

        opacity: 0;
        &.visible {
            @include fadeIn();
        }
        
        mat-icon {
            color: $accent;
            font-size: 80px;
            width: 80px;
            height: 80px;
        }
    }
}

@media screen and (max-width: 500px) {
    .container {
        .charasteristics {
            gap: 0;
        }
    }
}

:host::ng-deep {
    .charasteristics .charasteristic {
        p {
            font-weight: 200;
            padding: 0;
            
            max-width: 340px;
            text-align: center;
            opacity: 0.8;
            font-size: larger;
            font-weight: lighter;
            line-height: 1.5rem;;

        }
        
        strong {
            font-weight: lighter;
            //color: $accent;
        }
    }

    .quote {
        p {
            display: inline;
        }
    }
}