@import 'variables';

.loading-spinner {
	--looping-percent: 60;

	#master,
	#background {
		stroke-width: 13;
		stroke-linecap: round;
	}
	
	#background {
        stroke: rgba(0, 0, 0, .1);
	}
	
	#master {
		--looping-length: calc((var(--looping-percent) * var(--total-length)) / 100);
		stroke: $accent;
		stroke-dasharray: var(--looping-length), calc(var(--total-length) - var(--looping-length));

        &.animate {
            animation: loading-loop 1.5s linear infinite;
        }
	}
}

@keyframes loading-loop {
	from { stroke-dashoffset: var(--total-length); }
	to   { stroke-dashoffset: 0; }
}