@import 'variables';

.container {
    background-color: $accent;
    min-height: 200px;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;

    p {
        text-transform: uppercase;
        font-weight: 2rem;
    }

}