<div class="container" [class.show-more]="!showAll">
    <app-timeline [alternate]="!mobile">
        <ng-container *ngFor="let project of projects; let i = index">
            <ng-container *ngIf="nextYear(i, project.timespan?.to)">
                <app-timeline-marker class="year-marker">
                    <span class="year">{{ project.timespan?.to | date:"YYYY" }}</span>
                </app-timeline-marker>
                <app-timeline-item class="spacer" [indicator]="false" [alternate]="false"></app-timeline-item>
            </ng-container>
            <app-timeline-item>
                <app-timeline-label>{{ project.timespan?.from | date:"MMM YYYY" }} - {{ project.timespan?.to | date:"MMM YYYY" }}</app-timeline-label>
                <app-project-card [project]="project"></app-project-card>
            </app-timeline-item>
        </ng-container>
    </app-timeline>
    <div class="overlay" *ngIf="!showAll">
        <button mat-raised-button color="primary" (click)="showAll = !showAll">...SEE MORE</button>
    </div>
</div>