@import 'variables';

$overlay-color: white;

.container {
    //background-color: $accent;
    background-color: white;
    color: $text-dark;
    min-height: 100vh;
    height: 100%;
    
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    &.show-more {
        max-height: 100vh;
        overflow: hidden;
    }
}

.overlay {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;

    height: 30vh;
    max-height: 200px;
    background: linear-gradient(0deg, $overlay-color 0%, $overlay-color 40%, rgb(0,0,0,0) 100%);
    //background: red;

    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 30px;
}

app-timeline {
    width: 100vw;
    max-width: 900px;
    margin: 30px;
}

app-timeline-label {
    background: $accent;
    color: $text-light;
    border-radius: 7px;
    padding: 3px 7px;
    //margin: 20px 0 15px 0;
    margin: 3px 0 15px 0;
}

app-timeline-content {
    span {
        display: block;
        padding-bottom: 20px;
    }
}

.year-marker {
    .year {
        width: 60px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        //border: 2px solid $accent;
        color: $text-light;
        background-color: $accent;
        border-radius: 100%;
    }
}

.spacer {
    height: 20px;
}

app-project-card {
    display: block;
    padding-bottom: 20px;

    // &::before {
    //     content: '';
    //     height: 0;

    //     position: absolute;
    //     left: 18px;
    //     right: 18px;
    //     top: 33px;

    //     border-top: 1px dashed $accent;
    // }

    // &::ng-deep {
    //     h2 {
    //         border-bottom: 1px dashed $accent;
    //         display: inline-block;
    //     }
    // }
}