@import 'variables';

.container {
    background-color: $accent;
    min-height: 200px;
    padding: 30px;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

app-timeline-label {
    font-weight: bold;
    font-style: italic;
}

app-timeline-content {
    span {
        display: block;
        padding-bottom: 20px;
    }
}

.year-marker {
    > span {
        width: 70px;
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: large;
        border: 2px solid white;
        border-radius: 100%;
    }
}

.spacer {
    height: 30px;
}