<app-contact-bar id="contact-bar" [wrap]="false" [category]="'contact-page'"></app-contact-bar>

<a id="address-link" href="https://goo.gl/maps/bVBDbHnLFLgR2v1n8" target="_blank">
    <div id="address">
        <mat-icon>maps</mat-icon>
        <span>Aletta Jacobsweg 18</span>
        <span> · </span>
        <span>8448 SC</span>
        <span> · </span>
        <span>Heerenveen</span>
    </div>
</a>

<div class="company-info">
    <span>KvK · 85525774</span>
    <span>BTW · NL003428895B83</span>
</div>
