@import 'variables';

$footer-height: 120px;
$company-info-height: auto;

#contact-bar {

    min-height: calc(100vh - ($title-height + $footer-height + $company-info-height));
    height: calc(100% - ($title-height + $footer-height + $company-info-height));

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.company-info {

    background-color: rgba(255,255,255,.05);
    color: $text-light;

    margin-top: 20px;

    text-align: center;
    padding: 15px;

    font-style: italic;
    opacity: 0.6;
    font-size: small;

    height: $company-info-height;
}
