<div class="container">
    <div class="quote from-left">
        <span class="markdown" [innerHtml]="'about.quote1' | translate | markdown"></span>
    </div>
    <div class="icons">
        <mat-icon outlined>cloud</mat-icon>
        <mat-icon outlined>devices</mat-icon>
        <mat-icon>sports_esports</mat-icon>
    </div>
    <div class="quote from-right">
        <span class="markdown" [innerHtml]="'about.quote2' | translate | markdown"></span>
    </div>
    <div class="icons">
        <mat-icon>data_object</mat-icon>
    </div>
    <div class="quote from-left icon">
        <mat-icon>format_quote</mat-icon>
        <span class="markdown" [innerHtml]="'about.quote3' | translate | markdown"></span>
    </div>
</div>