@import 'variables';

.container {
    position: relative;

    color: $text-dark;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 10px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;

    .sub-title {
        margin-top: 5px;
        color: $accent;
        font-weight: 100;
    }

    .usps {
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        justify-items: center;
        margin-top: 10px;

        .usp {
            display: flex;
            min-width: 240px;
            margin: 10px 0;
            gap: 10px;

            .number {
                display: block;
                font-size: 20px;
                color: $accent;
                width: 50px;
                text-align: right;

                mat-icon {
                    font-size: 30px;
                    display: block;
                    width: 100%;
                    margin-top: -5px;
                }
            }

            .text {
                font-size: 16px;
            }
        }
    }

    .subjects {
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        align-items: center;

        padding: 10px 0;
        margin: 15px 0;
        background-color: rgba(0, 0, 0, .05);
        color: $text-secondary;
        border-radius: 7px;
        overflow: hidden;


        .subject {
            position: relative;
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: center;
            text-align: center;

            margin-bottom: 15px;
            width: 100%;
            max-width: 340px;
            padding: 5px 5px 20px 5px;

            .header {
                color: $text-dark;
                font-size: 18px;
                text-transform: uppercase;
                font-weight: bold;
                margin: 0;
                padding: 0;
                height: 32px;
            }

            .icon {
                display: inline-flex;
                justify-content: center;
                align-items: center;
                width: 120px;
                height: 120px;
                font-size: 80px;
                color: $accent;
            }
        }

    }

    .cards {
        display: flex;
        flex-flow: row wrap;
        justify-content: stretch;
        gap: 15px;
        margin-bottom: 30px;

        .card {
            display: block;
            position: relative;
            width: 100%;
            max-width: 390px;
            
            border-radius: 7px;
            overflow: hidden;

            .header {
                margin: 0;
                background-color: $accent;
                color: $text-light;
                padding: 15px;
                font-weight: 100;
                font-size: larger;
                text-align: center;

                mat-icon {
                    position: absolute;
                    transform: scale(.4);
                    top: -33px;
                    left: -30px;

                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100px;
                    height: 100px;
                    font-size: 75px;
                    margin: 10px;
                    padding: 0;
                }
            }

            .content {
                background-color: rgba(0, 0, 0, .05);
                color: $text-secondary;

                display: flex;
                flex-flow: column nowrap;
                align-items: center;
                padding: 15px 20px 7px 20px;
                
                height: 100%;

                border-bottom-left-radius: 7px;
                border-bottom-right-radius: 7px;

                &::ng-deep {
                    strong {
                        color: $text-dark;
                    }
                }
            }
        }
    }
}
