<div class="container">

    <div class="usps">
        <div class="usp">
            <span class="number">15+</span>
            <span class="text" translate>services.years_experience</span>
        </div>
        <div class="usp">
            <span class="number">33</span>
            <span class="text" translate>services.completed_projects</span>
        </div>
        <div class="usp">
            <span class="number"><mat-icon>all_inclusive</mat-icon></span>
            <span class="text" translate>services.lines_of_code</span>
        </div>
        <div class="usp">
            <span class="number">100%</span>
            <span class="text" translate>services.customer_satisfaction</span>
        </div>
    </div>
    <div class="subjects">
        <div class="subject" *ngFor="let subject of 'services.subjects' | translate">
            <div class="content">
                <mat-icon class="icon" *ngFor="let icon of subject.icons">{{icon}}</mat-icon>
            </div>
            <h4 class="header">{{subject.header}}</h4>
        </div>
    </div>
    <div class="cards">
        <div class="card" *ngFor="let card of 'services.cards' | translate">
            <h4 class="header">{{card.title}}</h4>
            <div class="content">
                <mat-icon class="icon">{{card.icon}}</mat-icon>
                <div class="markdown" [innerHtml]="card.content | markdown"></div>
            </div>
        </div>
    </div>
</div>
