<div class="container">
    <h3 translate>services.headline</h3>

    <div class="subjects">
        <div class="card">
            <h4 class="header">Software Architecture</h4>
            <div class="content">
                <mat-icon class="icon">devices</mat-icon>
                <p class="text">Lorum ipsum dolar sit amet</p>
            </div>
        </div>
        <div class="card">
            <h4 class="header">Software Developement</h4>
            <div class="content">
                <mat-icon class="icon">data_object</mat-icon>
                <p class="text">Build software</p>
            </div>
        </div>
        <div class="card">
            <h4 class="header">Consultancy</h4>
            <div class="content">
                <mat-icon class="icon">question_answer</mat-icon>
                <p class="text">Helps by chosing</p>
            </div>
        </div>
    </div>

    <h2 class="sub-title" translate>Specialisations</h2>

    <div class="cards">
        <div class="card">
            <h4 class="header">Web applications</h4>
            <div class="content">
                <mat-icon class="icon">web</mat-icon>
                <p class="text">Complex, e.g. Low-code platform, Social Media inbox, etc.</p>
            </div>
        </div>
        <div class="card">
            <h4 class="header">API connections</h4>
            <div class="content">
                <mat-icon class="icon">webhook</mat-icon>
                <p class="text">Building API's or connect with external api's</p>
            </div>
        </div>
        <div class="card">
            <h4 class="header">Mobile apps</h4>
            <div class="content">
                <mat-icon class="icon">phone_iphone</mat-icon>
                <p class="text">Hybride & native</p>
            </div>
        </div>
        <div class="card">
            <h4 class="header">Custom software</h4>
            <div class="content">
                <mat-icon class="icon">insert_chart_outlined</mat-icon>
                <p class="text">Uitbereiding ERP systeem, etc.</p>
            </div>
        </div>
        <div class="card">
            <h4 class="header">Domotics · IoT</h4>
            <div class="content">
                <mat-icon class="icon">sensors</mat-icon>
                <p class="text">Building API's or connect with external api's</p>
            </div>
        </div>
        <div class="card">
            <h4 class="header">Other</h4>
            <div class="content">
                <mat-icon class="icon">terminal</mat-icon>
                <p class="text">A.I. Algorithms for warehouse optimization, NodeJS bluez driver for linux BluFi setup, News recommender system, etc.</p>
            </div>
        </div>
        
    </div>

</div>
