<div class="bar" [class.wrap]="wrap" [class.allowHideText]="allowHideText">
    <section class="email">
        <a href="mailto:info@harriedegroot.com" target="_blank" [gaCategory]="category"
            gaEvent="{{category}}_click_email">
            <fa-icon [icon]="emailIcon"></fa-icon>
            <span>info@harriedegroot.com</span>
        </a>
    </section>
    <section class="mobile">
        <a href="tel:0031652437812" target="_blank" [gaCategory]="category" gaEvent="{{category}}_click_phone">
            <fa-icon [icon]="phoneIcon"></fa-icon>
            <span>+31 (0)6 52 43 78 12</span>
        </a>
    </section>
    <section class="Whatsapp">
        <a href="https://api.whatsapp.com/send?phone=31652437812" target="_blank" [gaCategory]="category"
            gaEvent="{{category}}_click_whatsapp">
            <fa-icon [icon]="WhatsAppIcon"></fa-icon>
            <span>WhatsApp</span>
        </a>
    </section>
    <section class="LinkedIn">
        <a href="https://linkedin.com/in/harriedegroot" target="_blank" [gaCategory]="category"
            gaEvent="{{category}}_click_linkedin">
            <fa-icon [icon]="LinkedInIcon"></fa-icon>
            <span>LinkedIn</span>
        </a>
    </section>
    <section class="GitHub">
        <a href="https://github.com/harriedegroot" target="_blank" [gaCategory]="category"
            gaEvent="{{category}}_click_github">
            <fa-icon [icon]="GitHubIcon"></fa-icon>
            <span>GitHub</span>
        </a>
    </section>
</div>