<div class="header">
    <h2 class="project-name">{{project.name }}</h2>
</div>
<div class="sub-header">
    <h3 *ngIf="role && project.role" class="role">{{project.role}}</h3>
    <h3 *ngIf="company" class="company-name">{{project.company?.name ?? ''}}</h3>
</div>

<p class="description">{{project.description}}</p>

<ng-container *ngIf="technologies">
    <mat-chip-list *ngIf="chips" class="technologies chips" [multiple]="true" [selectable]="false">
        <mat-chip class="chip" *ngFor="let tag of project.technologies" [style.opacity]=".01*(tag.proficiency ?? 100)">{{tag.name}}</mat-chip>
    </mat-chip-list>
    
    <ul *ngIf="!chips" class="technologies tags">
        <li class="tag" *ngFor="let tag of project.technologies">{{tag.name}}</li>
    </ul>
</ng-container>