@import 'variables';

$transition: .5s ease-in;

.container {
    .header {
        margin-bottom: 0px;

        .project-name {
            color: $accent;
            margin: 0px;
            padding: 0px;
        }
    }

    .sub-header {

        .role {
            color: $text-dark;
            margin: 0px;
            padding: 0px;

            // overflow: hidden;
            // max-height: 0;
            // transition: $transition;
        }

        .role-type {
            border-radius: 7px;
            background: $text-tertairy;
            color: $text-light;
            padding: 3px 7px;
            font-size: smaller;
            margin-right: 3px;
        }

        .company-name {
            display: inline-block;
            color: $text-secondary;
            margin: 0px;
            padding: 0px;

            &::before {
                content: '@'
            }
        }
    }

    .location {
        font-size: small;
        color: $text-tertairy;
        margin: 0;
        padding: 0;

        .pin-icon {
            //color: crimson;
            margin-right: 7px
        }
    }

    .content {
        color: $text-dark;
        margin-top: 10px;

        // overflow: hidden;
        // max-height: 43px;
        // transition: $transition;

        .goto {
            display: inline-block;
            margin-bottom: 20px;
            border: 1px solid $accent;

            // opacity: 0;
            // display: none;
        }
    }

    .technologies {
        overflow: hidden;
        max-height: 75px;
        transition: $transition;

        .chip {
            font-size: smaller;
        }
    }

    .more {
        cursor: pointer;
        color: $accent;
        text-decoration: underline;

        margin-top: 5px;
        display: inline-block;
    }

    &.expanded {
        .content {
            .goto {
                opacity: 1;
                display: inline-block;
            }
        }
        .technologies {
            max-height: 600px;
        }
    }
}




// :host {
//     &:hover {
//         // .role,
//         // .content,
//         .technologies {
//             max-height: 600px;
//         }
//     }
// }