<div class="container" [class.expanded]="expanded || !short" (click)="expanded = true; short = false" gaEvent="{{expanded ? 'project_hide_details' : 'project_show_details'}}" gaCategory="project">
    <div class="header">
        <h2 class="project-name">{{project.name }}</h2>
    </div>
    <div class="sub-header">
        <!-- <h3 *ngIf="role && project.role?.title" class="role">{{project.role?.title}}</h3> -->
        <span class="role-type" *ngIf="typeLabel">{{typeLabel}}</span>
        <h3 *ngIf="company" class="company-name">{{project.company?.name ?? ''}}</h3>
    </div>
    <div class="location" *ngIf="project.company?.location">
        <fa-icon class="pin-icon" [icon]="iconLocation"></fa-icon>
        <span class="city" *ngIf="project.company?.location?.city">{{project.company?.location?.city}}</span>
        <span *ngIf="project.company?.location?.city && project.company?.location?.country"> · </span>
        <span class="country" *ngIf="project.company?.location?.country">{{project.company?.location?.country}}</span>
    </div>

    <div class="content" [class.short]="short">
        <div class="info">
            <p class="description">{{project.description}}</p>
            <p class="responsibility">{{project.responsibility}}</p>
        </div>
        <button class="goto" mat-stroked-button *ngIf="project.website" color="primary"
            (click)="goto(project.website);$event.stopImmediatePropagation()">
            <fa-icon class="external-icon" [icon]="iconExternal"></fa-icon>
            <span>Show project</span>
        </button>
    </div>

    <div class="technologies" #technologiesEl *ngIf="technologies">
        <mat-chip-listbox *ngIf="chips" class="chips" [multiple]="true" [selectable]="false">
            <mat-chip class="chip" *ngFor="let tag of technologies" [style.opacity]=".01*(tag.proficiency ?? 100)">
                {{tag.name}}</mat-chip>
        </mat-chip-listbox>
    </div>

    <span class="more" *ngIf="showMore">...see more</span>
</div>