.container {
    display:flex;
    
    &.left {
        justify-content: flex-start;
    }
    
    &.right {
        justify-content: flex-end;
    }
    
    &.alternate {
        justify-content: center;
    }
}