<ng-container *ngIf="alternate">
    <ng-container *ngTemplateOutlet="label"></ng-container>
</ng-container>
<div class="content-container" 
    [class.left]="left"
    [class.right]="right"
    [class.indicator]="indicator"
    [class.indicator-line]="indicatorLine"
    [class.alternate]="alternate">
    <ng-container *ngIf="!alternate">
        <ng-container *ngTemplateOutlet="label"></ng-container>
    </ng-container>
    <div class="line" *ngIf="line"></div>
    <ng-content></ng-content>
</div>

<ng-template #label>
    <div class="label-container"
        [class.left]="alternate ? right : left"
        [class.right]="alternate ? left : right"
        [class.alternate]="alternate">
        <!-- <fa-icon *ngIf="left && indicator" [icon]="iconLeft" transform="up-2"></fa-icon> -->
        <ng-content select="app-timeline-label"></ng-content>
        <!-- <fa-icon *ngIf="right && indicator" [icon]="iconRight" transform="up-2"></fa-icon> -->
    </div>
</ng-template>