$timeline-gap: 30px;
$timeline-line-color: darkgrey;
$timeline-line-style: dotted;
$timeline-line-width: 1px;

$timeline-indicator-top: 20px;
$timeline-indicator-radius: 12px;
$timeline-indicator-border-width: 2px;
$timeline-indicator-border-style: solid;
$timeline-indicator-background: transparent;
$timeline-indicator-border-color: darkgrey;

@import 'variables';


:host {
    display: block;
    position: relative;
    //background: red;
}

.label-container {
    //border: 1px solid green;
    
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-top: $timeline-indicator-top;

    &.alternate {
        position: absolute;
    }
    
    &.left {
        justify-content: flex-end;
                
        left: 0;
        right: auto;
        padding-right: $timeline-gap;
        width: calc(100% - $timeline-gap);
        &.alternate {
            width: calc(50% - $timeline-gap);
        }
    }

    &.right {
        left: auto;
        right: 0;
        width: calc(100% - $timeline-gap - $timeline-line-width);
        
        &.alternate {
            width: calc(50% - $timeline-gap - $timeline-line-width);
        }
    }

    fa-icon {
        color: $timeline-indicator-border-color;
        font-size: 30px;
        height: 2 * $timeline-indicator-radius;
        position: absolute;
        top: $timeline-indicator-border-width;
    }
}

.content-container {
    display: block;
    position: relative;
    height: 100%;

    .line {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width:0;
        
        &::after {
            content: '';
            position: absolute;
            width: 0px;
            top: 0;
            bottom: 0;
            border-left: $timeline-line-width $timeline-line-style $timeline-line-color;
        }
    }

    &.indicator .line {
        &::before {
            content: '';
            position: absolute;
            width: 0px;
            top: 0;
            height: $timeline-indicator-top;
            border-left: $timeline-line-width $timeline-line-style $timeline-line-color;
        }

        &::after {
            top: $timeline-indicator-top + (2 * $timeline-indicator-radius) + (2 * $timeline-indicator-border-width);
        }
    }

    //background: blue;

    // line
    // &.line::before {
    //     content: '';
    //     position: absolute;
    //     width: 0px;
    //     top: 0;
    //     bottom: 0;
    //     border-left: $timeline-line-width $timeline-line-style $timeline-line-color;
    // }
    // &.line.indicator:before {
    //     top: (2 * $timeline-indicator-radius) + (2 * $timeline-indicator-border-width) + $timeline-indicator-top;
    // }

    // indicator on the timeline
    &.indicator::after {
        content: '';
        position: absolute;
        width: 2 * $timeline-indicator-radius;
        height: 2 * $timeline-indicator-radius;
        top: $timeline-indicator-top;
        border: $timeline-indicator-border-width $timeline-indicator-border-style $timeline-indicator-border-color;
        border-radius: 100%;
        background: $timeline-indicator-background;
    }

    &.left {
        text-align: end;

        left: 0;
        right: auto;
        padding-right: $timeline-gap;
        width: calc(100% - $timeline-gap);
        &.alternate {
            width: calc(50% - $timeline-gap);
        }

        // line
        .line {
            left: auto;
            right: 0;
        }
        // timeline indicator placement
        &::after {
            right: -($timeline-indicator-radius + $timeline-indicator-border-width);
        }
    }

    &.right {
        left: auto;
        right: 0;
        padding-left: $timeline-gap + $timeline-line-width;
        width: calc(100% - $timeline-gap - $timeline-line-width);
        
        &.alternate {
            right: -50%;
            width: calc(50% - $timeline-gap - $timeline-line-width);
        }

        // line
        .line {
            left: 0;
            right: auto;
        }
        // timeline indicator placement
        &::after {
            left: -($timeline-indicator-radius + $timeline-indicator-border-width);
        }
    }
}