.background {
    position: absolute;
    width: 100vw;
    height: 100vh;
}
.menu {
    position: absolute;
    right: 0;
}

section {
    position: relative;
    height: 100vh;

    .next-section {
        position: absolute;
        bottom: 100px;
        color: #b4babd;
        font-size: 38px;
        font-weight: 100;
        opacity: 0;
        width: 100%;
        text-align: center;

        .text {
            margin-bottom: 20px;
            ;
        }

        .icon {
            display: block;
            transform: scale(2);
            margin: 0 auto;
        }
    }
}

@media screen and (max-width: 900px) {
    section {
        .next-section {
            bottom: 285px;
        }
    }
}

@media screen and (max-height: 750px) {
    section {
        .next-section {
            .text {
                display: none;
            }
        }
    }
}

@media screen and (max-height: 650px) {
    section {
        .next-section {
            display: none;
        }
    }
}