section {
    position: relative;
    height: 100vh;

    .next-section {
        position: absolute;
        bottom: 100px;
        color: #b4babd;
        font-size: 48px;
        font-weight: 100;
        opacity: 0;
        width: 100%;
        text-align: center;

        .text {
            margin-bottom: 20px;
            ;
        }

        .icon {
            display: block;
            transform: scale(2);
            margin: 0 auto;
        }
    }
}

@media screen and (max-width: 900px) {
    section {
        .next-section {
            bottom: 235px;
        }
    }
}