<app-background class="background"></app-background>
<app-menu class="menu" (click)="onMenuClick($event)"></app-menu>
<div class="content">
    <section id="section-home">
        <app-home id="home" [profile]="profile"></app-home>
        <button class="next-section" (click)="onMenuClick('skills')" mat-stroked-button>
            <mat-icon class="icon" fontIcon="keyboard_double_arrow_down">keyboard_double_arrow_down</mat-icon>
        </button>
    </section>

    <section id="section-skills">
        <app-skills id="skills" [experience]="profile.experience || []" [selectedTags]="selectedSkillTags" [scrollwheel]="false"
            [hiddenTags]="hiddenSkillTags" (progress)="onSkillsProgress($event)"></app-skills>
    </section>
</div>