
$title-height: 75px;

$text-light: white;
$text-dark: black;
$text-secondary: #5f6c72;
$text-tertairy: #b4babd;
$background-dark: black;
$accent: #c2185b;
//$secondary: rgb(35, 35, 35);
$secondary: rgb(20, 20, 20);

$mobile-width: 900px;

$timeline-line-gap: 30px;
//$timeline-line-margin: 33px;
$timeline-indicator-radius: 8px;
$timeline-indicator-top: 7px;
$timeline-indicator-border-color: $accent;
$timeline-indicator-border-width: 1px;
//$timeline-indicator-background: $accent;
