@import 'variables';

html,
body {
  margin: 0;
  height: 100%;

  color: white;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.markdown,
markdown {
  strong {
    color: $accent;
    font-weight: normal;
  }
}

.mat-mdc-slider {
  .mdc-slider__track--inactive {
    background-color: white !important;
  }
  .mdc-slider__track--active_fill {
    border-color: white !important;
  }
  .mdc-slider__thumb-knob {
    background-color: white !important;
    border-color: white !important;
  }

  .mdc-slider__tick-mark--inactive {
    background-color: rgba(255, 255, 255, .5) !important;
  }
}
