@import 'variables';

html,
body {
  margin: 0;
  height: 100%;

  color: white;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.markdown,
markdown {
  strong {
    color: $accent;
    font-weight: normal;
  }
}