$menu-text-color: #b4babd;
$menu-width: 800px;

@import 'variables';

#hamburger {
    position: fixed;
}

.menu {
    position: relative;

    &.fixed {
        position: fixed;
        left: 0;
        right: 0;
    }

    transition: background-color .4s ease-in;

    pointer-events: none;

    >* {
        pointer-events: all;
    }

    transition: transform .4s ease-in;

    &.hide:not(:hover) {
        transform: translateY(-100px);
    }
}

.footer {
    position: relative;

    &.fixed {
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
    }

    transition: transform .4s ease-in;

    &.hide:not(:hover) {
        transform: translateY(100px);
    }
}

.button {
    position: absolute;
    top: 6px;
    z-index: 9999;

    .text-container {
        position: relative;
        width: 20px;
        height: 20px;
    }

    &.lang {
        top: 12px;
        .text {
            position: absolute;
            left: 3px;
            font-size: 16px; 
            font-weight: 100;
            color: $menu-text-color;
            text-transform: uppercase;
        
            &.show {
                opacity: 1;
            }

            &.hide {
                opacity: 0;
            }
        }
    }

    &:hover {
        color: $accent;
    }

    color: $menu-text-color;

    display: flex;
    justify-content: center;
    align-items: center;

    &.left {
        left: 8px;
    }

    &.right {
        right: 8px;
    }

    transition: opacity .4s ease-in;
    opacity: 0;

    &.visible {
        opacity: 1;
    }
}

.menu-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;

    margin: 0 auto;
    gap: 1px;

    transition: transform .4s ease-in;
    transform: translateY(-100px);

    &.open {
        transform: translateY(0);
    }

    .item {
        display: block;
        margin: 0;
        padding: 20px 7px;

        text-align: center;
        text-decoration: none;
        font-weight: 100;
        color: $menu-text-color;
        transition: color .4s ease-in;

        .text {
            font-weight: 100;
            font-size: 16px;
            text-transform: uppercase;
            padding: 3px;
            position: relative;

            &:after {
                position: absolute;
                content: '';
                bottom: 0;
                left: 0;
                width: 0;
                height: 0;
                border-bottom: 1px solid $accent;
                transition: width .2s ease-in;
            }
        }

        &:visited {
            color: #b4babd;
        }

        &:hover {
            color: $accent;

            .text {
                &:after {
                    width: 100%;
                }
            }
        }
    }
}

@media screen and (max-width: $menu-width) {
    .button {
        &:hover,
        &:focus {
            color: $menu-text-color;
        }
    }

    .menu-container {
        //background: rgba(255,255,255,0.98);
        transform: translateY(-100vh);

        &.open {
            transform: translateY(0);
            display: flex;
            flex-flow: column;
            width: 100%;
        }

        .item {
            width: 100%;
        }  
    }
}
