@import 'variables';

.menu-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: row wrap;
    gap: 2px;

    max-width: 500px;
    margin: 0 auto;
    
    button {
        font-weight: 100;
        font-size: 12px;
        text-transform: uppercase;
        color: #b4babd;
        transition: color .4s ease-in;
        height: 30px;
        min-width: 0;
        padding: 0px;

        &:after {
            position: absolute;
            content: '';
            bottom: 0;
            left: 0;
            width: 0;
            height: 0;
            border-bottom: 1px solid $accent;
            transition: width .2s ease-in;
        }

        &:hover {
            color: $accent;

            &:after {
                width: 100%;
            }
            
        }
    }
}