<button id="hamburger" class="hamburger button left" mat-icon-button [class.visible]="hamburger" [autofocus]="false"
    (click)="onHamburgerClick($event)" title="select language">
    <fa-icon [icon]="hamburgerIcon"></fa-icon>
</button>
<div class="menu" [class.fixed]="fixed" [class.show]="menuShown" [class.hide]="!menuShown"
    (mouseenter)="hoveringMenu=true" (mouseleave)="hoveringMenu=false">

    <nav class="menu-container" [class.open]="open" [style.background]="background">
        <ng-container *ngFor="let section of sections; let i = index">
            <a [routerLink]="['/']" (click)="onItemClick(section)" class="item" [replaceUrl]="true"
                gaEvent="menu_click_{{section}}" gaCategory="navigation">
                <span class="text">{{ ('menu.' + section) | translate }}</span>
            </a>
        </ng-container>
    </nav>

    <button class="lang button right" mat-icon-button [class.visible]="langButton" *ngIf="selectedLanguage"
        (mouseover)="hoveringLangButton=true" (mouseout)="hoveringLangButton=false" [autofocus]="false"
        (click)="onLanguageClick($event)" title="menu">
        <span class="text" [class.show]="showOtherLanguage" [class.hide]="!showOtherLanguage">
            {{ otherLanguage }}
        </span>
        <span class="text" [class.show]="!showOtherLanguage" [class.hide]="showOtherLanguage">
            {{ selectedLanguage }}
        </span>
    </button>

</div>
<app-footer *ngIf="footer" id="menu-footer" class="footer" [wrap]="true" [category]="'menu'" [allowHideText]="true"
    [class.sticky]="true" [class.show]="footerShown" [class.hide]="!footerShown" [class.fixed]="fixed"
    (mouseenter)="hoveringFooter=true" (mouseleave)="hoveringFooter=false"></app-footer>