$menu-text-color: #b4babd;
$menu-width: 600px;

@import 'variables';

.hamburger {
    display: none;

    position: fixed;
    top: 5px;
    right: 5px;
    color: $menu-text-color;

    z-index: 999;
}

.menu-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: row wrap;

    max-width: $menu-width;
    margin: 20px auto 0 auto;
    gap: 1px;


    .item {
        display: block;
        position: relative;
        padding: 0px 2px;
        margin: 0;

        font-weight: 100;
        font-size: 16px;
        text-transform: uppercase;
        text-decoration: none;
        color: $menu-text-color;

        transition: color .4s ease-in;

        &:after {
            position: absolute;
            content: '';
            bottom: 0;
            left: 0;
            width: 0;
            height: 0;
            border-bottom: 1px solid $accent;
            transition: width .2s ease-in;
        }

        &:visited {
            color: #b4babd;
        }

        &:hover {
            color: $accent;

            &:after {
                width: 100%;
            }
        }
    }
}

@media screen and (max-width: $menu-width) {
    .hamburger {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .menu-container {
        display: none;
        position: fixed;
        margin: 0 auto;
        padding-top: 10px;
        background: rgba(255,255,255,0.98);
        
        &.open {
            display: flex;
            flex-flow: column;

            width: 100%;
            max-width: $menu-width;
        }

        .item {
            padding: 20px 0;
            width: 100%;
            text-align: center;
        }
    }
}
