@import 'variables';

$transition: .5s ease-in;

.container {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-items: stretch;
  min-height: calc(100vh - $title-height);
  height: calc(100% - $title-height);
  background: black;

  &.expanded {
    .tags-container {
        max-height: 600px;
    }
  }

  .tags-container {
      overflow: hidden;
      max-height: 100px;
      transition: $transition;
      margin-bottom: 5px;
      
      .chip {
          font-size: smaller;
      }
  }

  .more-container {
    height: 30px;
    margin: 0px 10px 0px 200px;
    position: relative;

    .more {
        padding: 5px 0;
        cursor: pointer;
        color: $accent;
        text-decoration: underline;
    }
  }
  
  .tags {
    display: flex;
    margin: 20px 10px 20px 200px;

    .chip:hover {
      cursor: pointer;
    }
  }

  .chart {
    display: flex;
    width: 100%;
    flex-grow: 1;
  }

  .timeslider {
    display: flex;
    flex-direction: row;
    height: 50px;
    padding: 0 20px;

    .slider {
      margin-left: 185px;
      display: flex;
      flex-grow: 1;
    }
  }
}

@media screen and (max-width: $mobile-width) {
  .container {
    .more-container {
      margin: 0px 10px 0px 20px;
    }

    .tags {
      margin: 20px 10px 20px 20px;
    }

    .timeslider {
      .slider {
        margin-left: 15px;
      }
    }
  }
}