@import 'variables';

.container {
    padding: 30px;
    // background: $secondary; // NOTE: defined in main template as a section background

    .title {
        //display: flex;
        align-content: center;
        justify-items: center;
        gap: 20px;
        //justify-content: center;
    
        h2 {
            color: $text-light;
            line-height: 45px;
        }
        
        .proficiency {
            flex-grow: 1;
            display: flex;
            color: $text-light;
            gap: 10px;

            span {
                white-space: nowrap;
                line-height: 45px;
            }

            mat-slider {
                width: 100%
            }
        }
    }
    
    .categories {
        display: flex;
        flex-flow: row wrap;
        align-content: flex-start;
        gap: 30px;

        .category {
            min-width: 250px;
            flex: 1 0 25%;
            margin: 20px 0;
            h3 {
                margin: 0 0 7px 0;
                padding: 0;
                color: $accent;
                font-weight: bold;
            }
        }
    }
}

@media screen and (max-width: $mobile-width) {
    .container {
        .categories {
            gap: 0;
        }
    }
}