:host {
    position: relative;
}

.title {
    position: absolute;
    display: none; // TODO: page title

    width: 100%;
    text-align: center;
    font-weight: 100;
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.next-section {
    position: absolute;
    bottom: 40px;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    left: 5px;
    right: 5px;
    text-align: center;
    border: none;
}

@media screen and (max-width: 500px) {
    .next-section {
        display: none;
    }
}