:host {
    position: relative;
}

.next-section {
    position: absolute;
    bottom: 40px;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    left: 5px;
    right: 5px;
    text-align: center;
    border: none;
}

@media screen and (max-width: 500px) {
    .next-section {
        display: none;
    }
}