.title {
    position: absolute;
    display: none; // TODO: page title

    width: 100%;
    text-align: center;
    font-weight: 100;
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 50px;
}

@media screen and (min-height: 650px) {
    // section {
    //     min-height: 100vh;
    //    height: 100% !important;
    // }
}